<div class="container">
    <h2><b>Shopping cart</b></h2>
    <div style="text-align: right">
        <button ng-disabled="cc.orderIsEmpty" ng-click="cc.createOrder()" class="btn btn-primary btn-md">Create Order</button>
    </div>
    <div ng-hide="cc.hideOrderForm">
        <form ng-submit="cc.submitOrder()">
            <h3>Ok, just one step to go!</h3><br>
            <input style="max-width: 340px" class="form-control" ng-model="cc.address" id="adr" placeholder="Address" type="text" required autofocus>
            <button class="btn btn-primary btn-md" type="submit">Proceed</button>
        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Months</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="i in cc.magazines">
            <td>{{i.name}}</td>
            <td>{{i.price}}₽</td>
            <td><input ng-model="i.months" type="number" min="1" max="12"></td>
            <td>{{i.months * i.price}}₽</td>
            <td><button ng-click="cc.removeFromCart(i.id)" class="btn btn-sm btn-danger">Remove</button> </td>
        </tr>
    </table>
    <div style="text-align: right;"><h1>Total: {{cc.orderPrice}}₽</h1></div>
</div>