<div class="container">
    <h2><b>{{cc.bundle.title}}</b></h2>
    <div style="text-align: right">
        <button ng-disabled="cc.orderIsEmpty" ng-click="cc.createOrder()" class="btn btn-primary btn-md">
            {{cc.bundle.createOrder}}
        </button>
    </div>
    <div ng-hide="cc.hideOrderForm">
        <form ng-submit="cc.submitOrder()">
            <h3>{{cc.bundle.addressMessage}}</h3><br>
            <input style="max-width: 340px" class="form-control" ng-model="cc.address" id="adr" placeholder="{{cc.bundle.address}}" type="text" required autofocus>
            <button class="btn btn-primary btn-md" type="submit">{{cc.bundle.proceed}}</button>
        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>{{cc.bundle.name}}</th>
            <th>{{cc.bundle.price}}</th>
            <th>{{cc.bundle.months}}</th>
            <th>{{cc.bundle.total}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="i in cc.magazines">
            <td>{{i.name}}</td>
            <td>{{i.price}}₽</td>
            <td><input ng-model="i.months" type="number" min="1" max="12"></td>
            <td>{{i.months * i.price}}₽</td>
            <td><button ng-click="cc.removeFromCart(i.id)" class="btn btn-sm btn-danger">{{cc.bundle.remove}}</button> </td>
        </tr>
    </table>
    <div style="text-align: right;"><h1>{{cc.bundle.total}}: {{cc.orderPrice}}₽</h1></div>
</div>