<div class="container">
    <h2><b>Your order:</b></h2>
    <div style="text-align: right;"><button ng-click="" class="btn btn-primary btn-md">Create Order</button></div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Months</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="i in cc.magazines">
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td><input ng-model="i.months" type="number" min="1" max="12"></td>
            <td>{{i.months * i.price}}</td>
        </tr>
    </table>
    <div style="text-align: right;"><h1>Total: {{cc.orderPrice}}</h1></div>
</div>